.btn-rounded-30 {
  border-radius: 30px;
}

.products .product-cards .card .card-img-top {
  width: auto;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .product-cards .card .card-body h4 {
  height: 4rem;
  line-height: 2rem;
  overflow: hidden;
}
